.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 45%;
    padding: 8px 12px;
    background-color: #e2e0e0; 
    border-radius: 8px;
    margin-bottom: 1rem;

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: #ff5e6c;
    color: white;
}